/******************************
Body Styling
*******************************/
body {
  font-family: Helvetica;
  background-color: #2a2a2a;
}

#footer {
  text-align: center;
  padding: 30px 0 30px 0;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 20px;
}

#footer a {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

/******************************
Navbar Layout
*******************************/
.header, .nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  margin: 0 auto;
}

.nav {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  list-style: none;
}

.nav li {
  margin: 12px 0 12px 28px;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.nav li a:hover {
  color: rgba(255,255,255,0.7);
}

.firstnames {
  font-family: 'Pinyon Script', cursive;
  color: #fff;
  font-weight: normal;
  text-align: center;
  line-height: 50%;
}

.lastname {
  font-family: 'Helvetica';
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 12px;
  letter-spacing: 20px;
  text-align: center;
}

@media all and (min-width: 640px) {
  .header, .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media all and (min-width: 1030px) {
  .nav {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
  }
}

@media all and (min-width: 1030px) {
  .header {
    width: 1030px;
    min-width: 768px;
  }
}


/******************************
Gallery Styling
*******************************/
#gallery {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

#gallery a {
  -webkit-transition: .8s opacity;
          transition: .8s opacity;
  border: 0;
}

#gallery:hover a {
  opacity: 0.6;
}

#gallery:hover a:hover {
  opacity: 1;
}

.thumb {
  padding: 5px;
}

.landscape {
  height: 200px;
  width: 300px;
}

.portrait {
  height: 200px;
  width: 133px;
}